<a href="https://colab.research.google.com/github/NSPFD/PYTHON-PROGRAMMING-TASK-RELATED-WORK-AND-ITS-BASICS/blob/main/2_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We completed Intro and Variables now lets learn the better way of organizing and storing data in a computer's memory

# 3. Data Structures

* A data structure is a way of organizing and storing data in a computer's memory to efficiently perform operations and manipulate the data.

* It defines how the data is organized, accessed, and manipulated, and provides a set of operations or methods to perform various tasks on the data.

* Data structures are fundamental building blocks in programming and play a crucial role in solving computational problems.

* They help in optimizing data access, storage, and manipulation, leading to efficient algorithms and better program performance.

In [ ]:
import random

## Strings

String is a sequence of characters enclosed within single quotes (' '), double quotes (" "), or triple quotes (''' '''). Strings are used to represent textual data and are one of the built-in data types in Python.

In [ ]:
message = 'Hello, World!'
name = "Alice"
paragraph = '''This is a multi-line
string using triple quotes.'''


print(message)

Hello, World!

In [ ]:
# String formatting:
first_meal = 'orangutans'
second_meal = 'breakfast cereals'
third_meal = 'fruit bats'

print('And Saint Atila raised the hand grenade up on high, saying,\n'
      + '\'Oh, Lord, bless this thy hand '
      + 'grenade that with it thou mayest blow')

print('thy enemies to tiny bits, in thy mercy.\' '
      'And the Lord did grin, and\n'
      'people did feast upon the lambs, '
      'and sloths, and carp, and anchovies,\n'
      'and {0}, and {1}, and {2}, and large --'.format(first_meal, second_meal, third_meal))

print(f'F-strings: {first_meal}, {second_meal}, {third_meal}')

And Saint Atila raised the hand grenade up on high, saying,
'Oh, Lord, bless this thy hand grenade that with it thou mayest blow
thy enemies to tiny bits, in thy mercy.' And the Lord did grin, and
people did feast upon the lambs, and sloths, and carp, and anchovies,
and orangutans, and breakfast cereals, and fruit bats, and large --
F-strings: orangutans, breakfast cereals, fruit bats

### Slicing
Slicing is an operation that allows you to extract a portion of a string (or any sequence) by specifying a start and end index. The resulting sliced portion is returned as a new string.

The syntax for slicing a string in Python is as follows:
    
```string[start:end:step]```

start: The starting index (inclusive) from where the slicing begins. If not specified, it defaults to the beginning of the string.

end: The ending index (exclusive) where the slicing ends. If not specified, it defaults to the end of the string.

step: The step size or the increment between indices. If not specified, it defaults to 1.

In [ ]:
message = "Hello, World!"

# Slicing from index 0 to 5 (exclusive)
substring1 = message[0:5]
print(substring1)  # Output: Hello

# Slicing from index 7 to the end of the string
substring2 = message[7:]
print(substring2)  # Output: World!

# Slicing from the beginning to index 5 (exclusive) with a step of 2 (including that also)
substring3 = message[:5:2]
print(substring3)  # Output: Hlo

# Slicing the entire string with a step of 3
substring4 = message[::3]
print(substring4)  # Output: Hl r!

# Reversing the string using slicing with a step of -1
reversed_message = message[::-1]
print(reversed_message)  # Output: !dlroW ,olleH

Hello
World!
Hlo
Hl r!
!dlroW ,olleH

-----

example_string = "This is an example string"


                     
----

Try:
print(example_string[-12:-7]

# Complex data structures

# List

Lists are what you think: they store multiple kinds of data.
    


* A list in Python is a built-in data structure that represents an ordered collection of items.

* It is mutable, which means you can modify its elements after it has been created.

* Lists can contain elements of different data types such as integers, floats, strings, or even other lists.

In [ ]:
# Creating a list of integers
numbers = [1, 2, 3, 4, 5]

In [ ]:
# Accessing elements of a list
print(numbers[0])  # Output: 1
print(numbers[2])  # Output: 3

1
3

In [ ]:

# Modifying elements of a list
numbers[1] = 10
print(numbers)  # Output: [1, 10, 3, 4, 5]

[1, 10, 3, 4, 5]

See here how 2 in second place is changed to 10

In [ ]:

# Adding elements to a list
numbers.append(6)
print(numbers)  # Output: [1, 10, 3, 4, 5, 6]

[1, 10, 3, 4, 5, 6]

In [ ]:

# Removing elements from a list
numbers.remove(3)
print(numbers)  # Output: [1, 10, 4, 5, 6]

[1, 10, 4, 5, 6]

In [ ]:

# Length of a list
print(len(numbers))  # Output: 5

5

In [ ]:

# Looping through a list
for number in numbers:
    print(number)

1
10
4
5
6

![datastruct.gif](attachment:datastruct.gif)

# List Compressions

* List comprehension is a concise and powerful feature in Python that allows you to create new lists by performing operations on existing lists or other iterable objects.

* It provides a compact and readable way to generate lists in a single line of code.

### Syntax

new_list = [expression for item in iterable if condition]

Here's a breakdown of the components:

* new_list: This is the new list that will be created using list comprehension.
    
* expression: It represents the operation or transformation to be performed on each item in the iterable. It defines how the elements will be modified or calculated to form the new list.

* item: It is the variable that takes on each item in the iterable, one at a time.
    
* iterable: It is an existing list, tuple, string, or any other iterable object that provides the items to be processed by the list comprehension.

* condition (optional): It allows you to include an if statement to filter the elements from the iterable. Only the items that satisfy the condition will be included in the new list.

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

In this example, the expression num ** 2 calculates the square of each number (num) in the numbers list. The result is a new list (squares) that contains the squares of the numbers.

# Tuples

* Tuples are similar to lists but are immutable, meaning their elements cannot be modified once they are defined.

* They are often used to represent a collection of related values that should not be changed.

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

In [ ]:

# Accessing elements of a tuple
print(my_tuple[0])  # Output: 1
print(my_tuple[2])  # Output: 3

1
3

In [ ]:

# Iterating over a tuple
for item in my_tuple:
    print(item)

1
2
3
4
5

# Set

* Sets are unordered collections of unique elements. They automatically eliminate duplicate values.

* Sets work similarly to mathematical sets.

* They are useful when you want to store a collection of items and quickly check for membership or eliminate duplicates.

* Note that since sets are unordered, the order of elements in a set may vary when printed.

In [ ]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

In [ ]:

# Adding elements to a set
my_set.add(6)
my_set.add(7)

In [ ]:

# Removing elements from a set
my_set.remove(3)

In [ ]:

# Checking membership in a set
print(2 in my_set)  # Output: True
print(8 in my_set)  # Output: False

True
False

In [ ]:

# Looping through a set
for item in my_set:
    print(item)

1
2
4
5
6
7

# Dictionary

* Dictionaries are - as their name suggests - key-value pairs.
* Typical use of dictionaries is storing information of people in an organization.
* They are useful for organizing and retrieving data based on unique keys.
* The keys in a dictionary are unique and immutable, while the values can be of any data type.
* Dictionaries provide efficient lookups and are commonly used for tasks that involve mapping, data organization, and retrieval.

In [ ]:
# Creating a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

In [ ]:

# Accessing values in a dictionary
print(my_dict["name"])  # Output: John
print(my_dict["age"])   # Output: 30

John
30

In [ ]:

# Modifying values in a dictionary
my_dict["age"] = 35
print(my_dict)  # Output: {"name": "John", "age": 35, "city": "New York"}

{'name': 'John', 'age': 35, 'city': 'New York'}

In [ ]:

# Adding new key-value pairs to a dictionary
my_dict["occupation"] = "Engineer"
print(my_dict)  # Output: {"name": "John", "age": 35, "city": "New York", "occupation": "Engineer"}

{'name': 'John', 'age': 35, 'city': 'New York', 'occupation': 'Engineer'}

In [ ]:

# Removing key-value pairs from a dictionary
del my_dict["city"]
print(my_dict)  # Output: {"name": "John", "age": 35, "occupation": "Engineer"}

{'name': 'John', 'age': 35, 'occupation': 'Engineer'}

In [ ]:

# Checking if a key exists in a dictionary
print("name" in my_dict)  # Output: True
print("city" in my_dict)  # Output: False

True
False

In [ ]:

# Looping through a dictionary
for key, value in my_dict.items():
    print(key, ":", value)

name : John
age : 35
occupation : Engineer

In [ ]:
print(my_dict.keys())

dict_keys(['name', 'age', 'occupation'])

In [ ]:
if 'namee' in  my_dict:
    print("Exist")
else:
    print("nonn")

nonn

In [ ]:
print(my_dict.values())

dict_values(['John', 35, 'Engineer'])

In [ ]:
value_to_check = "John"  # The value you want to check for

# Using a loop to check if the value exists in the dictionary
value_exists = False
for value in my_dict.values():
    if value == value_to_check:
        value_exists = True
        break

if value_exists:
    print(f"{value_to_check} exists in the dictionary.")
else:
    print(f"{value_to_check} does not exist in the dictionary.")

John exists in the dictionary.

In [ ]:

value_to_check = "John"  # The value you want to check for

# Using the 'in' operator to check if the value exists in the dictionary
if value_to_check in my_dict.values():
    print(f"{value_to_check} exists in the dictionary.")
else:
    print(f"{value_to_check} does not exist in the dictionary.")

John exists in the dictionary.

## Advance Dictionary

In [ ]:
library_catalog = {
    "books": [
        {
            "title": "The Great Gatsby",
            "author": "F. Scott Fitzgerald",
            "publication_year": 1925,
            "genres": ["Fiction", "Classic", "Romance"],
            "copies_available": 3,
            "location": "Shelf A",
        },
        {
            "title": "To Kill a Mockingbird",
            "author": "Harper Lee",
            "publication_year": 1960,
            "genres": ["Fiction", "Classic", "Legal Drama"],
            "copies_available": 5,
            "location": "Shelf B",
        },
        {
            "title": "1984",
            "author": "George Orwell",
            "publication_year": 1949,
            "genres": ["Fiction", "Dystopian", "Political"],
            "copies_available": 2,
            "location": "Shelf A",
        },
        {
            "title": "The Hobbit",
            "author": "J.R.R. Tolkien",
            "publication_year": 1937,
            "genres": ["Fantasy", "Adventure"],
            "copies_available": 4,
            "location": "Shelf C",
        },
    ],
    "library_info": {
        "name": "Central Library",
        "address": "123 Main Street, Cityville",
        "hours": {
            "Monday": "9:00 AM - 6:00 PM",
            "Tuesday": "9:00 AM - 6:00 PM",
            "Wednesday": "9:00 AM - 8:00 PM",
            "Thursday": "9:00 AM - 6:00 PM",
            "Friday": "9:00 AM - 5:00 PM",
            "Saturday": "10:00 AM - 4:00 PM",
            "Sunday": "Closed",
        },
    },
}

# Accessing information from the library catalog
print("Library Name:", library_catalog["library_info"]["name"])
print("Library Address:", library_catalog["library_info"]["address"])

# Accessing information about books
for book in library_catalog["books"]:
    print("\nTitle:", book["title"])
    print("Author:", book["author"])
    print("Publication Year:", book["publication_year"])
    print("Genres:", ", ".join(book["genres"]))
    print("Copies Available:", book["copies_available"])
    print("Location:", book["location"])

Library Name: Central Library
Library Address: 123 Main Street, Cityville

Title: The Great Gatsby
Author: F. Scott Fitzgerald
Publication Year: 1925
Genres: Fiction, Classic, Romance
Copies Available: 3
Location: Shelf A

Title: To Kill a Mockingbird
Author: Harper Lee
Publication Year: 1960
Genres: Fiction, Classic, Legal Drama
Copies Available: 5
Location: Shelf B

Title: 1984
Author: George Orwell
Publication Year: 1949
Genres: Fiction, Dystopian, Political
Copies Available: 2
Location: Shelf A

Title: The Hobbit
Author: J.R.R. Tolkien
Publication Year: 1937
Genres: Fantasy, Adventure
Copies Available: 4
Location: Shelf C

# Extra

Insert anywhere with `Loop`

In [ ]:
my_list = [1, 2, 4, 5]
value_to_insert = 3   # Value to insret
index_to_insert = 2  # Index where you want to insert the value

# Create a new list to store the result
new_list = []

for i in range(len(my_list)):
    if i == index_to_insert:
        new_list.append(value_to_insert)
    new_list.append(my_list[i])

print(new_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

Insert anywhere in the List with `.insert method`

In [ ]:

value_to_insert = 9   # Value to insret
index_to_insert = 2  # Index where you want to insert the value

my_list.insert(index_to_insert, value_to_insert)
print(my_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 9, 4, 5]